html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 1.125em;
  line-height: 1.5;
  margin: 0;
  background: #fff; }

*,
*::after,
*::before {
  box-sizing: border-box; }

footer,
section {
  display: block; }

a {
  color: #D91982;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0;
  color: #A71665; }

img {
  border: 0;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

h1,
h2 {
  font-weight: 500;
  margin-bottom: 5px; }

h1 {
  font-size: 2rem;
  color: #0B80E0; }

h2 {
  font-size: 1.777rem;
  margin-top: 5px; }

h6 {
  color: #0B80E0;
  font-size: 1.33rem;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 1em; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

p {
  margin-top: 10px; }

.info--card {
  background-repeat: no-repeat;
  background-position-y: 60px;
  min-height: 180px;
  padding-left: 100px;
  width: 90%;
  max-width: 880px; }

.blurb {
  background-image: url(../images/info.svg);
  margin-top: 80px; }

.ambition {
  background-image: url(../images/rocket.svg); }

.learning {
  background-image: url(../images/effort.svg); }

.requirements {
  background-image: url(../images/yellow-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  max-width: 100%;
  padding: 50px 0 30px;
  margin-top: 50px; }

.requirements--text {
  padding: 20px 240px 30px 30px;
  background: url(../images/requirements-icon.svg) no-repeat 95% center;
  max-width: 992px;
  margin: 0 auto; }

.selection {
  margin-bottom: 60px;
  margin-top: 80px;
  min-height: 300px;
  text-align: center; }

.selection--process {
  background-repeat: no-repeat;
  float: left;
  height: 9em;
  margin: 25px 1% 20px;
  text-align: left;
  padding-left: 70px;
  width: 31.33%; }

.selection--process__one {
  background-image: url(../images/process-one.svg); }

.selection--process__two {
  background-image: url(../images/process-two.svg); }

.selection--process__three {
  background-image: url(../images/process-three.svg); }

.apply--cta {
  background: #D91982;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  padding: 0.25em 0.8em 0.35em;
  font-size: 2rem;
  margin-top: 40px; }

.apply--cta:hover {
  color: #fff;
  background: #A71665; }

.learning {
  margin-top: 50px; }

.learning--banner,
.learning--text {
  display: inline-block;
  height: 550px;
  width: 50%; }

.learning--banner {
  background-image: url(../images/learning-bg.jpg);
  background-size: cover;
  background-position: center;
  float: left; }

.learning--text {
  background-color: #f7f7f7;
  padding: 5% 7.5%;
  display: table-cell;
  vertical-align: middle; }

footer {
  font-size: 0.88em;
  padding: 50px 0 80px;
  display: flex;
  hyphens: auto;
  background: #e0ffff; }

.footer--section {
  display: inline;
  float: left;
  width: 29.49%;
  padding: 0 3%; }

.footer--partners {
  width: 39.99%; }

@media (max-width: 767px) {
  .requirements--text {
    padding-left: 5%;
    background-position-x: calc(100% + 80px);
    padding: 20px 160px 30px 30px; }

  .selection--process {
    padding: 75px 10px 10px;
    background-position-x: 10px;
    height: 15em; }

  footer {
    display: inline-block;
    padding-top: 0; }

  .footer--section {
    width: 44.99%; }

  .footer--contact {
    width: 94.99%;
    margin-bottom: 40px; } }
@media (max-width: 480px) {
  .info--card {
    padding-left: 60px;
    background-size: 50px; }

  .selection {
    margin-top: 35px; }

  .selection--process {
    width: 100%;
    margin-bottom: -30px;
    padding: 0px 10px 10px 65px;
    background-position: 5px 15px;
    height: 9em; }

  .apply--cta {
    margin-top: 50px;
    display: inline-block; }

  .requirements {
    padding: 70px 0 30px; }

  .requirements--text {
    background: none;
    padding: 20px 30px; } }
