html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.125em;
    line-height: 1.5;
    margin: 0;
    background: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

footer,
header,
main,
menu,
nav,
section {
    display: block
}

a {
    color: #D91982;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    color: #A71665;
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

h1,
h2,
h3 {
    font-weight: 500;
    margin-bottom: 5px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    color: #0B80E0;
}

h3 {
    font-size: 1.777rem;
    margin-top: 5px;
}

h6 {
    color: #0B80E0;
    font-size: 1.33rem;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

p {
    margin-top: 10px;
}

.hero {
    min-height: 650px;
    width: 100%;
    position: relative;
}

.masking--tape {
    width: 500px;
    height: 500px;
    background-image: url(../images/masking-bg.jpg);
    background-size: cover;
    float: left;
    margin-left: 100px;
    -webkit-clip-path: polygon(20% 0, 95% 0, 80% 100%, 5% 100%);
    clip-path: polygon(20% 0, 95% 0, 80% 100%, 5% 100%);
    -webkit-animation: moveInFromLeft 1.8s normal ease-out;
    animation: moveInFromLeft 1.8s normal ease-out;
}

.hero--headline {
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 30%;
    line-height: 1.3;
    top: calc(50% - 3.5em);
}

.info {
    margin-bottom: 80px;
}

.info--text {
    padding-left: 140px;
    width: 90%;
    max-width: 680px;
    background-image: url(../images/info-section-bg.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.requirements {
    background-image: url(../images/yellow-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 550px;
    max-width: 100%;
    padding: 125px 0;
}

.requirements--text {
    padding: 50px 100px 50px 150px;
    background: url(../images/requirements-icon.svg) no-repeat 95% center;
    max-width: 992px;
    margin: 0 auto;
}

.selection {
    margin-bottom: 100px;
    margin-top: 80px;
    min-height: 300px;
    text-align: center;
}

.selection--process {
    background-repeat: no-repeat;
    float: left;
    height: 9em;
    margin: 50px 0 65px;
    text-align: left;
    padding-left: 75px;
    width: 33.33%;
}

.selection--process__one {
    background-image: url(../images/process-one.svg);
}

.selection--process__two {
    background-image: url(../images/process-two.svg);
}

.selection--process__three {
    background-image: url(../images/process-three.svg);
}

.apply--cta {
    background: #D91982;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: 0.25em 0.8em 0.35em;
    font-size: 2rem;
    margin-top: 40px;
}

.apply--cta:hover {
    background: #A71665;
}

.learning {
    margin-top: 50px;
}

.learning--banner,
.learning--text {
    display: inline-block;
    height: 550px;
    width: 50%;
}

.learning--banner {
    background-image: url(../images/learning-bg.jpg);
    background-size: cover;
    background-position: center;
    float: left;
}

.learning--text {
    background-color: #f7f7f7;
    padding: 5% 7.5%;
    display: table-cell;
    vertical-align: middle
}

footer {
    font-size: 0.88em;
    padding: 50px 0 80px;
    display: flex;
}

.footer--section {
    display: inline;
    float: left;
    width: 29.49%;
    padding: 0 3%;
}

.footer--partners {
    width: 39.99%;
}

@-webkit-keyframes moveInFromLeft {
    0% {
        left: -100px;
        -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
        clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    }
    100% {
        left: 0px;
        -webkit-clip-path: polygon(20% 0, 95% 0, 80% 100%, 5% 100%);
        clip-path: polygon(20% 0, 95% 0, 80% 100%, 5% 100%);
    }
}

@keyframes moveInFromLeft {
    0% {
        left: -100px;
        -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
        clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    }
    100% {
        left: 0px;
        -webkit-clip-path: polygon(20% 0, 95% 0, 80% 100%, 5% 100%);
        clip-path: polygon(20% 0, 95% 0, 80% 100%, 5% 100%);
    }
}

@media (max-width: 767px) {
    .requirements--text {
        padding-left: 7%;
        background-position-x: calc(100% + 80px);
    }
    .selection--process {
        padding: 75px 10px 10px;
        background-position-x: 10px;
        height: 12em;
    }
    .learning--banner,
    .learning--text {
        width: 100%;
    }
    .learning--banner {
        height: 250px;
    }
    .learning--text {
        height: 5em;
    }
}

@media (max-width: 480px) {
    .selection--process {
        width: 100%;
        margin-bottom: -30px;
    }
    .apply--cta {
        margin-top: 50px;
        display: inline-block;
    }
    .requirements--text {
        margin-left: 10%;
        background: none;
    }
}